*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-image: url('images/pattern-curve.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 82vh;
}
.app{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 0px;
}
.person-img{
    position: relative;
}
.picture{   
    width: 440px;
}
.background{
    position: absolute;
    top: -60px;
    right: -60px;
    width: 130%;
    z-index: -1;
}
.person-img div{
    position: absolute;
    bottom: -13px;
    left: 40px;
    background-color: white;
    width: 85px;
    box-shadow: -2px 5px 25px hsla(240, 37%, 20%, 0.582);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.person-img div img{
    cursor: pointer;
}
.person-info img{
    position: absolute;
    top: 130px;
    left: 240px;
    z-index: -1;
}
.person-info p{
    position: relative;
    font-size: 31px;
    color: hsl(240, 38%, 20%);
    font-weight: 300;
    margin-right: -50px;
    z-index: 2;
}
.person-info h3{
    color: hsl(240, 38%, 20%);
    margin-top: 30px;
}
.person-info h3 span{
    color: hsl(240, 18%, 77%);
    font-weight: 500;
    margin-left: 5px;
}

@media only screen and (max-width:896px){
    body{
        background-image: url('images/pattern-curve.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        height: 110vh;
    }
    .app{
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        margin: 100px auto 0px;
    }
    .picture{   
        width: 300px;
    }
    .person-info{
        text-align: center;
    }
    .person-img div{
        bottom: -13px;
        left: 110px;
    }
    .person-info img{
        position: absolute;
        top: 460px;
        left: 50%;
        transform: translate(-50%);
        width: 75px;
    }
    .person-info p{
        position: relative;
        font-size: 25px;
        margin-right: 0px;
        margin-top: 90px;
    }
    .person-info h3 span{
        display: block;
    }
}